.main {
    max-width: 1440px;
    margin: 0 auto;

    &__form {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-top: 88px;

        &__header {
            display: flex;
            flex-direction: column;
            gap: 32px;
    
            &__progress-bar {
                display: flex;
                flex-direction: column;
                gap: 20px;

                &.show {
                    .back-btn {
                        display: flex;
                    }

                    .desktop__heading {
                        display: none;
                    }
                }

                &.hide {
                    .back-btn {
                        display: none;
                    }

                    .desktop__heading {
                        display: inline;
                    }
                }
    
                &__navigation {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
    
                    h2 {
                        font-size: $font-size-extra-large;
                        font-weight: $font-weight-bold;
                        color: $text-color;
                    }
    
                    p {
                        font-size: $font-size-medium;
                        font-weight: $font-weight-bold;
                        color: $primary-color;
                    }

                    .back-btn {
                        display: none;
                        align-items: center;
                        gap: 7px;
                        cursor: pointer;
                        background-color: transparent;
                        border: none;

                        &.hide {
                            display: none;
                        }
    
                        &.show {
                            display: flex;
                        }

                        p {
                            color: $text-color
                        }

                        svg {
                            rotate: 180deg;
                            position: relative;
                            left: 2px;
                            transition: left $transition-delay;
                            path {
                                fill: $text-color
                            }
                        }

                        &:hover {
                            p {
                                color: $primary-color
                            }

                            svg {
                                left: 0;
                                path {
                                    fill: $primary-color;
                                }
                            }
                        }
                    }
                }
    
            }
    
        }

        &__companies {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 33px;
        text-align: center;
        padding-bottom: 20px;

        p {
            opacity: $text-opacity;
            font-size: $font-size-extra-small;
            font-weight: $font-weight-bold;
            color: #000;
        }

        span {
            font-size: $font-size-small;
            font-weight: $font-weight-medium;
            color: #000;
        }
    }

    .background-img {
        position: absolute;
        bottom: 0;

        &.left-side {
            left: 0;
        }

        &.right-side {
            right: 0;
        }
    }
}

.main__heigth_step-3,
.main__heigth_step-5,
.main__heigth_step-6 {
    height: calc(100% - 76px);

    .mobile-steps {
        display: none;
    }
}

.footer-step-3,
.footer-step-5,
.footer-step-6 {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);

    .mobile-steps {
        display: none;
    }
}