@media only screen and (max-width: 991.98px) {
    .main {
        max-width: unset;

        &__form {
            margin-top: unset;
    
            &__header {
                h1 {
                    display: none;
                }
    
                &__progress-bar {

                    &.show {
                        .back-btn {
                            display: none;
                        }
                    }

                    &__navigation {
                        h2 {
                            font-size: $font-size-large;
                        }

                        h2:not(.mobile__headeaing) {
                            display: none;
                        } 
                        
                    }
    
                    &__steps {
                        display: none;
                    }
                }
            }

            &__footer {
                width: 100%;

                span {
                    font-weight: $font-weight-semibold;
                }
            }
        }

    }
}

@media only screen and (max-width: 1350.98px) {
    .main {
        .background-img {
            display: none;
        }
    }
}

@media screen and (min-width: 1600px) {
    .main {
        height: 100%;
        position: relative;
        max-width: unset;

        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &__form {
            margin-top: unset;
        }
    }
}
