@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

$main-font: 'Quicksand', sans-serif;

$primary-color: #32B966;
$text-color: #263238;

$primary-color-hover: #297747;

$font-size-heading-1: 34px;
$font-size-extra-large: 24px;
$font-size-large: 20px;
$font-size-medium: 16px; 
$font-size-small: 14px;
$font-size-extra-small: 12px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$transition-delay: .3s;


$text-opacity: 0.5;
